# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# Android generated
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# OS
.DS_Store
Thumbs.db

# Keystore / secrets
*.jks
*.keystore
.env
.env.*
*.key
*.pem
serviceAccountKey.json

# Firebase config - repo public thì nên ignore
google-services.json
app/google-services.json